<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body class="container" style="margin-top: 40px">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="container">
                <ul class="">
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h1>@ViewBag.Title</h1>
        <h3>@ViewBag.Phrase</h3>
    </div>
        @RenderBody()

    <address class="navbar-fixed-bottom">
        &copy; MHansen
    </address>

</body>

</html>

<!-- Shared View / Layout Page -->