<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        @{
            ViewBag.Title = "Welcome!";
            ViewBag.Phrase = "Here you can view and edit all our movies!";
        }

        <h3>Here is a list of all our current movies:</h3>
        <p> @foreach(var st in ViewBag.Y)
            {
                <p>  @st.MovieTitle   </p>
            }
        </p>
    </body>
</html>