
    @{
        ViewBag.Title = "Delete a Movie";
    }

    <h3>Are you sure you want to delete this movie?</h3>

    <a class="btn btn-danger" asp-controller="Movie" asp-action="Index">No</a>
    <button type="submit" class="btn btn-success">Yes</button>