@model IEnumerable<aspnet_exam_movie.Models.Entities.Movie>

@{
    ViewBag.Title = "Details for: ";
}


<a class="btn btn-danger" asp-controller="Movie" asp-action="Delete">Delete</a>
<a class="btn btn-success" asp-controller="Movie" asp-action="Edit">Edit</a>